langchain
python-dotenv
langchain_community
langchain-openai
langchain_core
streamlit
langchain-groq
pypdf
pymupdf
wikipedia
chromadb
sentence_transformers
langchain_huggingface
langchain-text-splitters
faiss-cpu
langchain-chroma
arxiv
wikipedia
ipykernel
validators
youtube-transcript-api==0.6.2
unstructured
pytube