
streamlit==1.39.0
validators==0.34.0
python-dotenv==1.0.1
requests==2.32.3
beautifulsoup4==4.12.3


langchain==0.3.6
langchain-core==0.3.14
langchain-community==0.3.3
langchain-text-splitters==0.3.2
langchain-openai==0.2.5
langchain-groq==0.1.5

youtube-transcript-api==0.6.2
pytube==15.0.0
unstructured==0.15.8

pypdf==5.0.1
pymupdf==1.24.9

