streamlit==1.50.0
validators==0.35.0
langchain==0.3.27
langchain-core==0.3.79
langchain-groq==0.3.8
langchain-community==0.3.31
unstructured==0.18.15
unstructured-client==0.42.3
pytube==15.0.0
httpx==0.28.1
numpy==2.3.4
tqdm==4.67.1
PyYAML==6.0.3
typing_extensions==4.15.0
